* {
  margin: 0%;
  padding: 0;
}

body {
  background-color: #313636;
}

img {
  width: 100%;

  top: 75px;
  left: 0%;
  position: relative;
}

/*************
STYLING FOR THE BACKGROUND IMAGE
*************/

/* img.anewtvexp {
  width: 29%;
  position: absolute;
  top: 24%;
  left: 14%;
} */

.anewtvexp .anewtv {
  color: white;
  position: absolute;
  font-size: 6vh;
  left: 20vw;
  top: 27%;
  font-size: 4vw;
  font-family: roboto, "Helvetica Neue";
  word-spacing: 5px;
}
.anewtvexp .exp {
  left: 18%;
  color: white;
  top: 18%;
  position: absolute;
  top: 33%;
  font-size: 4vw;
  font-family: roboto, "Helvetica Neue";
}
.anewtvexp .awa {
  color: white;
  position: absolute;
  top: 39%;
  left: 20vw;
  font-size: 4vw;
  font-family: roboto, "Helvetica Neue";
}

.sony h2 {
  width: 14%;
  position: absolute;
  left: 47%;
  top: 20%;
  color: white;
  font-size: 5vh;
}
.bravo h2 {
  position: absolute;
  color: #e4e4e4;
  left: 24%;
  top: 25;
  top: 50%;
  font-size: 3vw;
  font-weight: 100;
  font-family: roboto, "Helvetica Neue";
}
.bravo h3 {
  color: #e4e4e4;
  position: absolute;
  font-size: 2vw;
  font-weight: lighter;
  top: 56%;
  left: 26%;
  font-family: roboto, "Helvetica Neue";
}
/* @media screen and (max-width: 400px) {
  img.anewtvexp {
    width: 29%;
    height: 30vh;
    left: 13%;
    position: absolute;
    top: 32%;
  }
  img.sony {
    width: 10%;
    position: absolute;
    left: 47%;
    top: 12%;
    height: 27vh;
  }
  img {
    width: 100%;
    height: 20vh;
    top: 75px;
    left: 0%;
    position: relative;
  }
} */
@media only screen and (max-width: 800px) {
  .anewtvexp .anewtv {
    color: white;
    position: absolute;
    font-size: 6vh;
    left: 18vw;
    top: 20%;
    font-size: 4vw;
  }
  .anewtvexp .exp {
    left: 17%;
    color: white;
    top: 20%;
    position: absolute;
    top: 22%;
    font-size: 4vw;
  }
  .anewtvexp .awa {
    color: white;
    position: absolute;
    top: 24%;
    left: 18vw;
    font-size: 4vw;
  }
  .sony h2 {
    width: 12%;
    position: absolute;
    left: 47%;
    top: 15%;
    height: 26vh;
    color: white;
    font-size: 5vw;
  }
  img {
    width: 100%;
    height: 20vh;
    top: 75px;
    left: 0%;
    position: relative;
    height: 35vh;
  }
  .bravo h2 {
    position: absolute;
    color: #e4e4e4;
    left: 22%;
    top: 25;
    top: 29%;
    font-size: 100;
    font-size: 3vw;
    font-weight: 100;
  }
  .bravo h3 {
    color: #e4e4e4;
    position: absolute;
    font-size: 2vw;
    font-weight: lighter;
    top: 31%;
    left: 24%;
  }
}

/************
STYLING FOR TV
************/
.tv {
  background-color: #313636;
}
.subimages .tv img.tvimg {
  width: 38vh;
  height: 40vh;
  left: 10vh;
  position: absolute;
  top: 101vh;
  /* overflow: hidden; */
}
.subimages .tv h2 {
  color: white;
  font-size: 5vh;
  position: absolute;
  top: 100vh;
  left: 52vh;
  /* overflow: hidden; */
}
.subimages .tv h3 {
  color: #e4e4e4;
  position: absolute;
  left: 52vh;
  top: 136vh;
  font-weight: 100;
}
/* .subimages .tv {
  width: 100%;
} */
.subimages .tv .btn {
  background-color: rgb(62, 175, 33);
  width: 6%;
  border-radius: 4px;
  height: 5vh;
  font-size: large;
  position: absolute;
  right: 30vh;

  top: 134vh;
  color: white;
  border: none;
}
@media only screen and (max-width: 800px) {
  .tv {
    background-color: #313636;
  }
  .subimages .tv img.tvimg {
    width: 26vh;
    height: 26vh;
    left: 2vh;
    position: relative;
    top: 20vh;
    overflow: hidden;
  }
  .subimages .tv h2 {
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 56vh;
    left: 30vh;
    overflow: scroll;
  }
  .subimages .tv h3 {
    color: #e4e4e4;
    position: absolute;
    left: 30vh;
    top: 76vh;
    font-weight: 100;
    font-size: 3vh;
  }
  /* .subimages .tv {
        width: 100%;
      } */
  .subimages .tv .btn {
    width: 20%;
    border-radius: 4px;
    height: 5vh;
    font-size: large;
    position: absolute;
    right: 2vh;
    top: 75vh;
    color: white;
    border: none;
  }
}

/**** 
STYLING FOR THE FRIDGE
*****/

.subimages .phone img.mob {
  height: 20%;
  background-color: white;
  width: 12%;
  padding: 50px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 7vh;
  top: 150%;
  padding-top: 56px;
}
.subimages .phone h2 {
  color: white;
  font-size: 5vh;
  position: absolute;
  top: 152vh;
  left: 52vh;
}
.subimages .phone h3 {
  color: #e4e4e4;
  position: absolute;
  left: 52vh;
  top: 180vh;
  font-weight: 100;
}
.subimages .phone .btn1 {
  background-color: rgb(62, 175, 33);
  width: 6%;
  border-radius: 4px;
  height: 5vh;
  font-size: large;
  position: absolute;
  right: 30vh;

  top: 178vh;
  color: white;
  border: none;
}

@media only screen and (max-width: 800px) {
  .subimages .phone img.mob {
    height: 20%;
    background-color: white;
    width: 15%;
    padding: 43px;
    margin: 0vh;
    border-radius: 8px;
    position: absolute;
    left: 7vh;
    top: 92%;
    padding-top: 56px;
    left: 4%;
  }
  .subimages .phone h2 {
    color: white;
    font-size: 3vh;
    position: absolute;
    top: 91vh;
    left: 29vh;
  }
  .subimages .phone h3 {
    color: #e4e4e4;
    position: absolute;
    left: 29vh;
    top: 169vh;
    font-weight: 100;
    font-size: 3vh;
  }
  .subimages .phone .btn1 {
    background-color: rgb(62, 175, 33);
    width: 20%;
    border-radius: 4px;
    height: 5vh;
    font-size: large;
    position: absolute;
    right: 2vh;
    top: 121vh;
    color: white;
    border: none;
  }
}

/***********
STYLING FOR THE PHONE
***********/

.subimages .fridge img.refredige {
  height: 20%;
  background-color: white;
  width: 12%;
  padding: 50px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 7vh;
  top: 195%;
  padding-top: 56px;
}
.subimages .fridge h2 {
  color: white;
  font-size: 5vh;
  position: absolute;
  top: 196vh;
  left: 52vh;
  overflow: hidden;
}
.subimages .fridge h3 {
  color: #e4e4e4;
  position: absolute;
  left: 52vh;
  top: 224vh;
  font-weight: 100;
}
.subimages .fridge .btn2 {
  background-color: rgb(62, 175, 33);
  width: 6%;
  border-radius: 4px;
  height: 5vh;
  font-size: large;
  position: absolute;
  right: 30vh;
  top: 222vh;
  color: white;
  /* letter-spacing: 1%; */
  letter-spacing: 5px;
  border: none;
}

@media screen and (max-width: 800px) {
  .subimages .fridge img.refredige {
    height: 20%;
    background-color: white;
    width: 15%;
    padding: 39px;
    margin: 20px;
    border-radius: 8px;
    position: absolute;
    left: 7vh;
    top: 136%;
    padding-top: 56px;
    left: 0%;
  }
  .subimages .fridge h2 {
    color: white;
    font-size: 3vh;
    position: absolute;
    top: 139vh;
    left: 29vh;
  }
  .subimages .fridge h3 {
    color: #e4e4e4;
    position: absolute;
    left: 29vh;
    top: 122vh;
    font-weight: 100;
  }
  .subimages .fridge .btn2 {
    background-color: rgb(62, 175, 33);
    width: 20%;
    border-radius: 4px;
    height: 5vh;
    font-size: large;
    position: absolute;
    right: 2vh;
    top: 168vh;
    color: white;
    letter-spacing: 4px;
    initial-letter-align: 1px;
    border: none;
  }
}

/*************
STYLING FOR OVEN 
*************/

.subimages .microoven img.ove {
  height: 20%;
  background-color: white;
  width: 12%;
  padding: 50px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  left: 7vh;
  top: 240%;
  padding-top: 56px;
}
.subimages .microoven h2 {
  color: white;
  font-size: 5vh;
  position: absolute;
  top: 242vh;
  left: 52vh;
  overflow: hidden;
}
.subimages .microoven h3 {
  color: #e4e4e4;
  position: absolute;
  left: 52vh;
  top: 270vh;
  font-weight: 100;
}
.subimages .microoven .btn3 {
  background-color: rgb(62, 175, 33);
  width: 6%;
  border-radius: 4px;
  height: 5vh;
  font-size: large;
  position: absolute;
  right: 30vh;
  top: 268vh;
  color: white;
  border: none;
}
@media only screen and (max-width: 800px) {
  .subimages .microoven img.ove {
    height: 20%;
    background-color: white;
    width: 15%;
    padding: 39px;
    margin: 20px;
    border-radius: 8px;
    position: absolute;
    left: 0vh;
    top: 182%;
    padding-top: 56px;
  }
  .subimages .microoven h2 {
    color: white;
    font-size: 3vh;
    position: absolute;
    top: 185vh;
    left: 29vh;
    overflow: hidden;
  }
  .subimages .microoven h3 {
    color: #e4e4e4;
    position: absolute;
    left: 29vh;
    top: 215vh;
    font-weight: 100;
  }
  .subimages .microoven .btn3 {
    background-color: rgb(62, 175, 33);
    width: 20%;
    border-radius: 4px;
    height: 5vh;
    font-size: large;
    position: absolute;
    right: 2vh;
    top: 214vh;
    color: white;
    border: none;
  }
}
.navbar .cartpic img.cartt {
  width: 3%;
  position: absolute;
  top: 3%;
  left: 86%;
}
.Cyber p {
  left: 5%;
  font-family: system-ui;
  position: absolute;
  font-size: 3vw;
  top: 3%;
  color: #49cb28;
}
p.shop {
  color: #e4e4e4;
  position: absolute;
  left: 13%;
  font-size: 2vw;
  top: 5%;
}
.sign p.sig a {
  color: #e4e4e4;
  position: absolute;
  left: 80%;
  top: 4%;
  font-size: 3vh;
  font-family: system-ui;
  color: #e4e4e4;
  text-decoration: none;
}
.navbar .nav-footer {
  position: absolute;
  bottom: 100%;
  background-color: #bcc0c7;
  width: 60%;
  padding: 0px 20%;
  display: flex;
}
.nav-footer .foot {
  position: absolute;
  background-color: white;
  width: 100%;
}
.footer {
  width: 100%;
  position: absolute;
  top: 282%;
  height: 10%;
  background-color: #495050;
}
.navbar .header {
  position: absolute;
  background-color: #495050;
  width: 100%;
  /* padding: 0px 20%; */
  display: flex;
  top: 0%;
  height: 12%;
}
.footer .total h1 {
  color: white;
  font-family: system-ui;
  font-size: 4vh;
  position: absolute;
  left: 48%;
  top: 26%;
  font-weight: 500;
}
.footer .total a .checkcart {
  background-color: rgb(62, 175, 33);
  color: white;
  height: 8vh;
  font-size: 3vh;
  width: 18vw;
  position: absolute;
  right: 15%;
  top: 1vh;
  border-radius: 6px;
  border: none;
}
@media screen and (max-width: 800px) {
  .navbar .cartpic img.cartt {
    width: 10%;
    position: absolute;
    top: 2%;
    left: 83%;
    height: 6%;
  }
  .Cyber p {
    left: 5%;
    font-family: system-ui;
    position: absolute;
    font-size: 9vw;
    top: 2%;
    color: #49cb28;
  }
  p.shop {
    color: #e4e4e4;
    position: absolute;
    left: 29%;
    font-size: 4vw;
    top: 5%;
  }
  .sign p.sig a {
    color: #e4e4e4;
    position: absolute;
    left: 61%;
    top: 3%;
    font-size: 4vh;
    font-family: system-ui;
    color: #e4e4e4;
    text-decoration: none;
  }
  .navbar .nav-footer {
    position: absolute;
    bottom: 100%;
    background-color: #bcc0c7;
    width: 60%;
    padding: 0px 20%;
    display: flex;
  }
  .nav-footer .foot {
    position: absolute;
    background-color: white;
    width: 100%;
  }
  .footer {
    width: 100%;
    position: absolute;
    top: 225%;
    height: 10%;
    background-color: #495050;
  }
  .navbar .header {
    position: absolute;
    background-color: #495050;
    width: 100%;
    /* padding: 0px 20%; */
    display: flex;
    top: 0%;
    height: 12%;
  }
  .footer .total h1 {
    color: white;
    font-family: system-ui;
    font-size: 3vh;
    position: absolute;
    left: 19%;
    top: 33%;
    font-weight: 500;
  }
  .footer .total .checkcart a {
    background-color: rgb(62, 175, 33);
    color: white;
    height: 7vh;
    font-size: 4vw;
    width: 38vw;
    position: absolute;
    right: 3%;
    top: 1vh;
    border-radius: 4px;
    border: none;
  }
}
.menu .dots {
  height: 12px;
  width: 12px;
  background-color: rgb(247, 245, 245);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 84%;
  left: 46%;
}
.menu .dots2 {
  height: 12px;
  width: 12px;
  background-color: rgb(247, 245, 245);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 84%;
  left: 44%;
}
.menu .dots3 {
  height: 12px;
  width: 12px;
  background-color: rgb(247, 245, 245);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 84%;
  left: 48%;
}
.menu .dots4 {
  height: 12px;
  width: 12px;
  background-color: rgb(247, 245, 245);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 84%;
  left: 50%;
}
@media screen and (max-width: 800px) {
  .menu .dots {
    height: 6px;
    width: 6px;
    background-color: rgb(247, 245, 245);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 44%;
    left: 44%;
  }
  .menu .dots2 {
    height: 6px;
    width: 6px;
    background-color: rgb(247, 245, 245);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 44%;
    left: 40%;
  }
  .menu .dots3 {
    height: 6px;
    width: 6px;
    background-color: rgb(247, 245, 245);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 44%;
    left: 48%;
  }
  .menu .dots4 {
    height: 6px;
    width: 6px;
    background-color: rgb(247, 245, 245);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 44%;
    left: 52%;
  }
}

/***** cart page 
********/

.orderitms {
  width: 100%;
  background-color: #3eaf03;
  height: 23%;
  position: absolute;
  top: 12%;
}
.ordercontain .orderitms h1 {
  position: absolute;
  color: white;
  font-size: 5vw;
  left: 30%;
  top: 27%;
  font-weight: 100;
}
.ordercontain .shiphead h1 {
  color: white;
  position: absolute;
  top: 42%;
  font-size: 4vh;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}
.ordercontain .shiphead .checksentence {
  color: white;
  position: absolute;
  top: 50%;
  left: 28%;
  font-weight: 200;
  font-family: system-ui;
  word-spacing: 6px;
}
.orderdetails .ordereditems h3 {
  color: #5bfc06;
  position: absolute;
  top: 57%;
  left: 28%;
  font-weight: 100;
  font-family: system-ui;
}
.orderdetails .ordereditems2 h3 {
  font-weight: 100;
  left: 28%;
  color: #5bfc06;
  position: absolute;
  top: 61%;
  font-family: system-ui;
}
.ordercontain .orderdetails .line {
  background-color: #5bfc06;
  width: 60%;
  height: 0.1%;
  position: absolute;
  top: 67%;
  left: 28%;
}
.ordercontain .orderdetails .ordertotal h4 {
  color: rgb(247, 245, 245);
  font-size: 3vh;
  position: absolute;
  top: 70%;
  left: 28%;
  font-family: system-ui;
  font-weight: 500;
}
h3.quantity {
  font-weight: 100;
  left: 75%;
  color: #5bfc06;
  position: absolute;
  top: 57%;
  font-family: system-ui;
}
h3.cost {
  font-weight: 100;
  left: 80%;
  color: #5bfc06;
  position: absolute;
  top: 57%;
  font-family: system-ui;
}
h3.quantity2 {
  font-weight: 100;
  left: 75%;
  color: #5bfc06;
  position: absolute;
  top: 61%;
  font-family: system-ui;
}
h3.cost2 {
  font-weight: 100;
  left: 80%;
  color: #5bfc06;
  position: absolute;
  top: 61%;
  font-family: system-ui;
}
h3.total {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 70%;
  left: 75%;
  font-family: system-ui;
  font-weight: 500;
}
h3.costtotal {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 70%;
  left: 80%;
  font-family: system-ui;
  font-weight: 500;
}
.toenterdetails h2.name {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 77%;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}

input.placeholder {
  text-align: center;
}
.emailField {
  top: 83%;
  left: 28%;
  width: 32%;
  position: absolute;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 5%;
}
input.placeholder {
  text-align: center;
}
.phonenumber {
  top: 98%;
  left: 28%;
  width: 32%;
  position: absolute;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 5%;
}
.phonenum h2.name {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 92%;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}
input.placeholder {
  text-align: center;
}
.streetaddress {
  top: 115%;
  left: 28%;
  width: 32%;
  position: absolute;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 5%;
}
.address h2.name {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 108%;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}
.pin h2.name {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 124%;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}
input.placeholder {
  text-align: center;
}
.pincode {
  top: 130%;
  left: 28%;
  width: 32%;
  position: absolute;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 5%;
}
input.placeholder {
  text-align: center;
}
.unit {
  top: 147%;
  left: 28%;
  width: 32%;
  position: absolute;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 5%;
}
.aptsuite h2.name {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 140%;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}
input.placeholder {
  text-align: center;
}
.citydetails {
  top: 162%;
  left: 28%;
  width: 32%;
  position: absolute;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 5%;
}
.city h2.name {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 156%;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}
input.placeholder {
  text-align: center;
}
.statedetails {
  top: 176%;
  left: 28%;
  width: 32%;
  position: absolute;
  border: none;
  text-align: center;
  border-radius: 4px;
  height: 5%;
}
.state h2.name {
  color: rgb(247, 245, 245);
  position: absolute;
  top: 170%;
  left: 28%;
  font-family: system-ui;
  font-weight: 400;
}
.submitbutton {
  background-color: rgb(62, 175, 33);
  position: absolute;
  top: 186%;
  left: 28%;
  width: 21%;
  height: 11%;
  border-radius: 4px;
  color: white;
  font-size: 4vh;
  border: none;
}
@media screen and (max-width: 800px) {
  .orderitms {
    width: 100%;
    background-color: #3eaf03;
    height: 23%;
    position: absolute;
    top: 9%;
  }
  .ordercontain .orderitms h1 {
    position: absolute;
    color: white;
    font-size: 9vw;
    left: 16%;
    top: 37%;
    font-weight: 100;
  }
  .ordercontain .shiphead h1 {
    color: white;
    position: absolute;
    top: 42%;
    font-size: 3vh;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
  }
  .ordercontain .shiphead .checksentence {
    color: white;
    position: absolute;
    top: 48%;
    left: 14%;
    font-weight: 200;
    font-family: system-ui;
    word-spacing: 0px;
    font-size: 3vh;
  }
  .orderdetails .ordereditems h3 {
    color: #5bfc06;
    position: absolute;
    top: 58%;
    left: 14%;
    font-weight: 100;
    font-family: system-ui;
  }
  .orderdetails .ordereditems2 h3 {
    font-weight: 100;
    left: 14%;
    color: #5bfc06;
    position: absolute;
    top: 64%;
    font-family: system-ui;
  }
  .ordercontain .orderdetails .line {
    background-color: #5bfc06;
    width: 85%;
    height: 0.1%;
    position: absolute;
    top: 72%;
    left: 14%;
  }
  .ordercontain .orderdetails .ordertotal h4 {
    color: rgb(247, 245, 245);
    font-size: 3vh;
    position: absolute;
    top: 74%;
    left: 14%;
    font-family: system-ui;
    font-weight: 500;
  }
  h3.quantity {
    font-weight: 100;
    left: 77%;
    color: #5bfc06;
    position: absolute;
    top: 57%;
    font-family: system-ui;
  }
  h3.cost {
    font-weight: 100;
    left: 83%;
    color: #5bfc06;
    position: absolute;
    top: 57%;
    font-family: system-ui;
  }
  h3.quantity2 {
    font-weight: 100;
    left: 77%;
    color: #5bfc06;
    position: absolute;
    top: 64%;
    font-family: system-ui;
  }
  h3.cost2 {
    font-weight: 100;
    left: 83%;
    color: #5bfc06;
    position: absolute;
    top: 64%;
    font-family: system-ui;
  }
  h3.total {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 74%;
    left: 76%;
    font-family: system-ui;
    font-weight: 500;
  }
  h3.costtotal {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 74%;
    left: 81%;
    font-family: system-ui;
    font-weight: 500;
    font-size: 5vw;
  }
  .toenterdetails h2.name {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 81%;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 5vw;
  }

  input.placeholder {
    text-align: center;
  }
  .emailField {
    top: 86%;
    left: 14%;
    width: 52%;
    position: absolute;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 5%;
  }
  input.placeholder {
    text-align: center;
  }
  .phonenumber {
    top: 100%;
    left: 14%;
    width: 52%;
    position: absolute;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 5%;
  }
  .phonenum h2.name {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 95%;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 5vw;
  }
  input.placeholder {
    text-align: center;
  }
  .streetaddress {
    top: 115%;
    left: 14%;
    width: 56%;
    position: absolute;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 5%;
  }
  .address h2.name {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 110%;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 5vw;
  }
  .pin h2.name {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 126%;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 5vw;
  }
  input.placeholder {
    text-align: center;
  }
  .pincode {
    top: 132%;
    left: 14%;
    width: 52%;
    position: absolute;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 5%;
  }
  input.placeholder {
    text-align: center;
  }
  .unit {
    top: 149%;
    left: 14%;
    width: 52%;
    position: absolute;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 5%;
  }
  .aptsuite h2.name {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 143%;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 5vw;
  }
  input.placeholder {
    text-align: center;
  }
  .citydetails {
    top: 164%;
    left: 14%;
    width: 52%;
    position: absolute;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 5%;
  }
  .city h2.name {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 159%;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 5vw;
  }
  input.placeholder {
    text-align: center;
  }
  .statedetails {
    top: 178%;
    left: 14%;
    width: 52%;
    position: absolute;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 5%;
  }
  .state h2.name {
    color: rgb(247, 245, 245);
    position: absolute;
    top: 173%;
    left: 14%;
    font-family: system-ui;
    font-weight: 400;
    font-size: 5vw;
  }
  .submitbutton {
    background-color: rgb(62, 175, 33);
    position: absolute;
    top: 186%;
    left: 21%;
    width: 37%;
    height: 7%;
    border-radius: 4px;
    color: white;
    font-size: 3vh;
    border: none;
  }
}
/***** This is thank you page
******/
.orderitms .dismsg {
  color: #e4e4e4;
  position: absolute;
  top: 37%;
  left: 29%;
  font-size: 3vw;
  font-family: system-ui;
  font-weight: 500;
}
img.cartt {
  position: absolute;
  width: 3%;
  top: 2%;
  height: 5%;
  left: 86%;
}
.thankyoumsg h2.thankmsg {
  position: absolute;
  color: #e4e4e4;
  top: 41%;
  left: 27%;
  width: 51%;
  font-family: system-ui;
  font-weight: 300;
}
.homebtn {
  position: absolute;
  color: #e4e4e4;
  top: 53%;
  left: 39%;
  width: 20%;
  height: 12%;
  background-color: rgb(62, 175, 33);
  font-size: 3vh;
  border-radius: 5px;
  border: none;
}
@media screen and (max-width: 800px) {
  .orderitms .dismsg {
    position: absolute;
    color: #e4e4e4;
    top: 47%;
    left: 7%;
    width: 92%;
    font-family: system-ui;
    font-weight: 500;
    font-size: 6vw;
  }
  img.cartt {
    position: absolute;
    width: 6%;
    top: 2%;
    height: 5%;
    left: 84%;
  }
  .thankyoumsg h2.thankmsg {
    position: absolute;
    color: #e4e4e4;
    top: 40%;
    left: 5%;
    width: 92%;
    font-family: system-ui;
    font-weight: 300;
    font-size: 5vw;
  }
  a .homebtn {
    position: absolute;
    color: #e4e4e4;
    top: 53%;
    left: 25%;
    width: 45%;
    height: 10%;
    background-color: rgb(62, 175, 33);
    font-size: 3vh;
    border-radius: 4px;
    border: none;
  }
}
